{% extends 'base.html.twig' %}

{% block body %}
    <div class="container admin">
        <h1>Album creation</h1>

        {{ form_start(form) }}

        <div class=""row input-field">
            {{ form_label(form.titreAlbum) }}
            {{ form_widget(form.titreAlbum) }}
            {{ form_errors(form.titreAlbum) }}
        </div>

        <div class=""row input-field">
            {{ form_label(form.artiste) }}
            {{ form_widget(form.artiste) }}
            {{ form_errors(form.artiste) }}
        </div>

        <div class=""row input-field">
            {{ form_label(form.genre) }}
            {{ form_widget(form.genre) }}
            {{ form_errors(form.genre) }}
        </div>

        <div class=""row input-field">
            {{ form_label(form.support) }}
            {{ form_widget(form.support) }}
            {{ form_errors(form.support) }}
        </div>


    <div class="row center">
        <button class="btn-floating btn-large waves-effect waves-light green darken-1" type="submit" title="Valider" value="Create"><i class="material-icons">done</i></button>
    </div>

    {{ form_end(form) }}

    <div class="row center">
        {#index#}
        <a class="btn-floating btn-large waves-effect waves-light blue darken-1" href="{{ path('album_index', { 'id': album.id }) }}">
            <i class="small material-icons">fast_rewind</i>
        </a>

    </div>
    </div>
{% endblock %}
